# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtualenv
venv/
env/
.venv/
.env/

# Jupyter
.ipynb_checkpoints

# Streamlit
.streamlit/

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
